.signIn {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 0;
}
.inner {
	display: flex;
	gap: 10px;
}

@media (max-width: 768px) {
	.signIn {
		width: 45px;
		height: 45px;
	}
	.text {
		display: none;
	}
}
.profileBtn {
}
