.wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	// justify-content: space-between;
	position: relative;
}
.image {
	width: 65px;
	height: 65px;
}
.textBlock {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 40%;
	p {
		opacity: 0.7;
	}
	& > p:first-of-type {
		opacity: 1;
		font-weight: 700;
		font-size: 20px;
	}
}
.toppings {
	// padding-left: 10px;
	font-size: 14px;
}
.price {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.buttonBlock {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.countBlock {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-right: 20px;
}
.count {
	width: 20px;
	text-align: center;
}
.countButton {
	width: 35px;
	height: 35px;
}
