.footer {
	height: 50px;
	display: flex;
	justify-content: flex-start;
	font-size: 18px;
	position: relative;
	&::before {
		content: "";
		width: 100vw;
		height: 1px;
		position: absolute;
		background-color: #383838;
		left: 0px;
		top: 0px;
	}
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 10px;
}
.linkContainer {
	display: flex;
	align-items: center;
	gap: 5px;
}

@media (max-width: 768px) {
	.footer {
		font-size: 14px;
	}
}
