.wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	& > div {
		display: flex;
		gap: 15px;
		&:last-child {
			flex-grow: 1;
		}
	}
}
.textBlock {
	width: 50%;
}
.count {
	flex-grow: 1;
	text-align: center;
}
.price {
	margin-left: auto;
	width: 70px;
	text-align: left;
}
@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		gap: 15px;
		& > div {
			width: 100%;
			&:last-child {
				justify-content: space-between;
			}
		}
	}
	.count {
		flex-grow: 0;
	}
	.textBlock {
		width: 100%;
		& > div:last-child {
			flex-grow: 1;
		}
	}
}
