.wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}
.textBlock {
	width: 50%;
}
.count {
	flex-grow: 1;
	text-align: center;
}
.price {
	margin-left: auto;
	width: 70px;
	text-align: left;
}
