.ordersWrapper {
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media (max-width: 1280px) {
	.ordersWrapper {
		width: 90%;
	}
}
@media (max-width: 768px) {
	.ordersWrapper {
		width: 100%;
	}
}
