.headerContainer {
	height: clamp(60px, 10vw, 130px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: clamp(10px, 3vw, 100px);
	margin-bottom: clamp(15px, 3vw, 40px);
}
.btnBlock {
	display: flex;
	align-items: center;
	gap: 10px;
}
.header {
	position: relative;
}
.header::after {
	content: "";
	width: 100vw;
	height: 1px;
	position: absolute;
	background-color: #383838;
	bottom: 0;
	left: 0;
}
