.title {
	margin-bottom: 26px;
}
.content {
	margin-top: clamp(15px, 5vw, 40px);
	display: flex;
	gap: clamp(20px, 5vw, 50px);
}
@media (max-width: 768px) {
	.content {
		flex-direction: column;
	}
}
