.wrapper {
	width: 100%;
}
.wrapper *[data-active="true"] {
	color: var(--accent-color);
}
.categories {
	width: 100%;
	font-weight: 700;
	height: 42px;
	scrollbar-width: thin;
	label {
		height: 100%;
		font-weight: 700;
	}
}
@media (max-width: 768px) {
	.categories {
		height: 50px;
		overflow-x: scroll;
		align-items: center;
		& > span {
			display: none;
		}
	}
}
