.container {
	display: flex;
	gap: 15px;
	align-items: center;
	filter: brightness(0.75);
	transition: all 0.15s ease-in-out;
	position: relative;
	padding: 5px 0;
	overflow: hidden;

	&:hover {
		filter: brightness(1);
	}
}
