html {
	--input-bd-focus: #f4511e;
}
body {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	min-height: 100vh;
	font-size: 16px;
	line-height: 22px;
	--accent-color: #f4511e;
	--background-color: #242424;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
main {
	margin-top: clamp(15px, 5vw, 30px);
	margin-bottom: clamp(15px, 5vw, 30px);
	flex-grow: 1;
}

body::-webkit-scrollbar {
	width: 15px;
}
body::-webkit-scrollbar-track {
	background: #242424;
}
body::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: #f4501ebf;
	border-radius: 20px;
	border: 3px solid #242424;
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 10px;
}

.modal-open {
	overflow-y: hidden;
}

.mantine-TextInput-input:focus {
	border: 1px solid var(--accent-color);
}
.mantine-Input-input:focus-within {
	border: 1px solid var(--accent-color);
}
